command alias bfl breakpoint set -f %1 -l %2
command alias bn breakpoint set -n %1

command alias bls breakpoint list
command alias bw breakpoint write
command alias br breakpoint read

command alias f thread step-out # replaces `frame select`
